@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dk-color-primary: #1da1f2;
    --dk-color-secondary: #ffed4a;
  }

  .dark {
    --dk-color-primary: #000000;
    --dk-color-secondary: #ffffff;
  }
}
